.nav {
background: linear-gradient(to right,#ee7652,#e73c7e,#23a6d5,#2be0b6);
    font-size: 25px ;
    padding: 10px;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 10px;}

body{background-color:aliceblue;
margin: 2%;}

hr{height: 5px;
background-color: black;}

p{padding-right: 25px;
padding-left: 25px;}